.container{
  padding-bottom: 5rem;
}


.productlist-navigation{
  border-bottom: 2px solid #555;
  margin-top: 20px;
}


.selection-area{
  display: inline-block;
  float: right;
  padding: 15px;
}

.productlist-navigation div{
  display: inline-block;
  min-height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}


.productlist-navigation select,
.productlist-navigation button,
.productlist-navigation h1{
  display: inline-block;
}





/* list box */

.product-list{
  margin-top: 30px;
}

.product-card{
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 1.80vw;
/*   margin-right: 1vw; */
  margin-top: 2rem;
padding: 5px;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card h4{
  text-align: center;
  color: #555;
}

.product-card p {
  text-align: center;
  margin-top: 1rem;
}


.product-container {
  padding: 0rem 2rem;
  max-width: 14rem;
  min-width: 14rem;
}

.product-card-1pg{
  padding-bottom: 10px;
}



.product-card .product-card-1pg p {
  font-weight: 500;
  display: inline-block;
  color: #000;
  max-width: 200px;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 1px;
}


