.container{
  padding-bottom: 5rem;
}


.productlist-navigation{
  border-bottom: 2px solid #555;
  margin-left: -8px;
}


.selection-area{
  display: inline-block;
  float: right;
  padding: 15px;
}

.productlist-navigation div{
  display: inline-block;
  min-height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}


.productlist-navigation select,
.productlist-navigation button,
.productlist-navigation h1{
  display: inline-block;
}


/* FORM */


.insert-form{
  margin-top: 20px;
}

.insert-form input{
  display: inline-block;
}

.insert-form div{
  display: block;
}

.insert-form label {
  width: 80px;
}



.select-form  {
  width: 11.3rem;
  height: 30px;
  margin-left: -4px;
}
